---
interface Props {
    imgPath: string
    label: string
    about: string
    details?: string
    href: string
    linkLabel?: string
}

const {
  imgPath,
  label,
  about,
  details,
  href,
  linkLabel = "Learn More",
} = Astro.props;

import '../styles/era.css'
import "@fontsource/jetbrains-mono";
---
<div class="era-wrapper">
  
<img src={imgPath} alt={label} class="era-image" />

<div class="line"></div>